.talks-list {
    .talk {
        article {
            .tags {
                width: calc(100% - #{getTailwindSpacingVal(8)});
                .tag {
                    &:not(:last-child) {
                        @include tailwindSpacing(margin, r, 2);
                    }
                    .tag-content {
                        &::before,
                        &::after {
                            content: "";
                            transition: $transition-default;
                            position: absolute;
                            right: 0px;
                            top: 0px;
                            width: 100%;
                            height: 100%;
                        }
                        &::before {
                            background-color: $red-800;
                        }
                        &::after {
                            background-color: $red-600;
                            transform: translateY(101%);
                        }
                        > * {
                            position: relative;
                            z-index: 1;
                        }
                    }
                    dl {
                        dd {
                            transition: $transition-default;
                        }
                    }
                }
            }
            .informations {
                height: 100%;
                > div:last-child {
                    margin-top: auto;
                }
            }
            @include md-min {
                &:hover {
                    .tags {
                        .tag {
                            .tag-content {
                                &::after {
                                    transform: translateY(0%);
                                }
                            }
                        }
                    }
                }
            }
        }
        &.next-talk {
            article {
                @include boxShadow(15px, 0.3, $red-700);
                @include md-min {
                    &:hover {
                        @include boxShadow(20px, 0.4, $red-700, 5px, y);
                    }
                }
            }
        }
        &.current-talk {
            article {
                @include boxShadow(15px, 0.3, $red-700);
                @include md-min {
                    &:hover {
                        @include boxShadow(20px, 0.4, $red-700, 5px, y);
                    }
                }
            }
        }
    }
}
